.booking-hero {
  background: url("../Product/FlyingCommercialPlane.jpg") center/cover no-repeat;
  height: 40vh;
  position: relative;
}

.booking-hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.booking-hero > div {
  position: relative;
  z-index: 2;
}

.booking-form {
  max-width: 500px;
  margin: auto;
}
.booking-banner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.booking-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 25px;
  border-radius: 8px;
}
